body {
    margin: 0;
    padding: 0;
    font-family: "Lato", sans-serif;
    background-color: #0e0e0e;
    color: #fafafa
}

.main {
    display: flex;
    flex-direction: row;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

.soontm {
    flex: 1;
    font-size: 30vh;
}
